body{
	background-color: #25221E;
}
.pp{
	height: 300px;
	width: 300px;
	margin-top: 5%;
	border-radius: 200px;
	
}
.namaku{
	font-size: 40px;
	margin-bottom: 2%;
	color: #DCDCDC;
	text-shadow: 3px 2px 3px black;
}
.but{
	border-radius: 20px;
}

.ui-accordion-header{
	background-color: #F5F5F5;
	color: black;
}

